In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("flipkart_ac_originaldata.csv")

In [4]:
df

,Brand,Model_Year,Capacity (Ton),Energy_Rating (Star),AC_Type,Feature,Price (₹),Rating,No_of_Ratings,No_of_Reviews,Annual_Power_Usage (Units),Room_Size,Warranty(Years)
0,Voltas,2024.0,1.0,5.0,Split,NaN,30620,4.2,"1,792",233,511.13,90 sqft or Below,NaN
1,Samsung,2025.0,1.5,3.0,Split,5 Step,33590,4.1,"34,432","3,202",852.47,111 - 150 sqft,5 year
2,Godrej,2025.0,2.5,3.0,Split,5-In-1,48170,3.9,192,18,1330.81,NaN,5 Year
3,Daikin,2024.0,1.5,3.0,Split,NaN,34590,4.2,"19,247","1,444",966.47,111 - 150 sqft,5 year
4,Daikin,2024.0,1.5,5.0,Split,NaN,42390,4.2,"13,441","1,191",785.67,111 - 150 sqft,5 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,BLACK,2024.0,1.5,5.0,Split,NaN,42999,3.9,81,7,706.85,111 - 150 sqft,2 Year
980,realme,2025.0,1.0,5.0,Split,5-in-1,27590,NaN,NaN,NaN,526.80,90 sqft or Below,1 Year
981,MarQ,NaN,1.5,3.0,Split,4-in-1,24990,NaN,NaN,NaN,NaN,111 - 150 sqft,1 Year
982,Haier,2023.0,2.0,3.0,Split,NaN,45991,NaN,NaN,NaN,1276.55,151 - 200 sqft,5 Year
983,Haier,2024.0,2.0,3.0,Split,NaN,46919,NaN,NaN,NaN,1276.55,151 - 200 sqft,5 Year

In [5]:
df.head()

,Brand,Model_Year,Capacity (Ton),Energy_Rating (Star),AC_Type,Feature,Price (₹),Rating,No_of_Ratings,No_of_Reviews,Annual_Power_Usage (Units),Room_Size,Warranty(Years)
0,Voltas,2024.0,1.0,5.0,Split,NaN,30620,4.2,"1,792",233,511.13,90 sqft or Below,NaN
1,Samsung,2025.0,1.5,3.0,Split,5 Step,33590,4.1,"34,432","3,202",852.47,111 - 150 sqft,5 year
2,Godrej,2025.0,2.5,3.0,Split,5-In-1,48170,3.9,192,18,1330.81,NaN,5 Year
3,Daikin,2024.0,1.5,3.0,Split,NaN,34590,4.2,"19,247","1,444",966.47,111 - 150 sqft,5 year
4,Daikin,2024.0,1.5,5.0,Split,NaN,42390,4.2,"13,441","1,191",785.67,111 - 150 sqft,5 year

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Brand                       984 non-null    object
 1   Model_Year                  658 non-null    float64
 2   Capacity (Ton)              983 non-null    float64
 3   Energy_Rating (Star)        975 non-null    float64
 4   AC_Type                     984 non-null    object
 5   Feature                     330 non-null    object
 6   Price (₹)                   984 non-null    int64
 7   Rating                      970 non-null    float64
 8   No_of_Ratings               970 non-null    object
 9   No_of_Reviews               970 non-null    object
 10  Annual_Power_Usage (Units)  844 non-null    float64
 11  Room_Size                   975 non-null    object
 12  Warranty(Years)             866 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 100.1+ KB

In [7]:
na_values = ['N/A', 'NA', 'na', 'NaN', 'nan', 'NONE', 'None', 'null', 'Null', '', '-', '--', '?']
df.replace(na_values, np.nan, inplace=True)

In [8]:
# Strip extra spaces in string columns
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype(str).str.strip()
    df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\1242291585.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace({'nan': np.nan, '': np.nan}, inplace=True)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
for col in df.columns:
    # Remove commas, %, and ₹ symbols before numeric conversion
    if df[col].dtype == 'object':
        df[col] = df[col].str.replace(',', '', regex=False).str.replace('%', '', regex=False).str.replace('₹', '', regex=False)
        df[col] = pd.to_numeric(df[col], errors='ignore')

C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\3109116201.py:5: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

In [11]:
# Handle missing values
for col in df.columns:
    if df[col].dtype == 'object':
        # Fill text columns with most common value
        if df[col].isna().sum() > 0:
            df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        # Fill numeric columns with median
        if df[col].isna().sum() > 0:
            df[col].fillna(df[col].median(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\3341064147.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13536\3341064147.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [12]:
# Convert Model_Year to integer 
df['Model_Year'] = pd.to_numeric(df['Model_Year'], errors='coerce').astype('Int64')

In [13]:
df.to_csv("cleaned_flipkart_ac.csv", index=False)
print("Cleaned dataset saved as 'cleaned_flipkart_ac.csv'")

Cleaned dataset saved as 'cleaned_flipkart_ac.csv'

In [14]:
# Data Overview
print("\nDataset Shape:", df.shape)
print("\nColumn Data Types:\n", df.dtypes)
print("\nMissing Values:\n", df.isnull().sum())
print("\nSummary Statistics:\n", df.describe())

Dataset Shape: (661, 13)

Column Data Types:
 Brand                          object
Model_Year                      Int64
Capacity (Ton)                float64
Energy_Rating (Star)          float64
AC_Type                        object
Feature                        object
Price (₹)                       int64
Rating                        float64
No_of_Ratings                 float64
No_of_Reviews                 float64
Annual_Power_Usage (Units)    float64
Room_Size                      object
Warranty(Years)                object
dtype: object

Missing Values:
 Brand                         0
Model_Year                    0
Capacity (Ton)                0
Energy_Rating (Star)          0
AC_Type                       0
Feature                       0
Price (₹)                     0
Rating                        0
No_of_Ratings                 0
No_of_Reviews                 0
Annual_Power_Usage (Units)    0
Room_Size                     0
Warranty(Years)               0
dtype: int64

Summary Statistics:
         Model_Year  Capacity (Ton)  Energy_Rating (Star)     Price (₹)  \
count        661.0      661.000000            661.000000    661.000000
mean   2024.080182        1.442163              3.711044  37306.977307
std       0.626136        0.329983              0.990722  10275.064458
min         2022.0        0.500000              1.000000  15499.000000
25%         2024.0        1.000000              3.000000  29999.000000
50%         2024.0        1.500000              3.000000  35849.000000
75%         2024.0        1.500000              5.000000  42350.000000
max         2025.0        2.600000              5.000000  89990.000000

           Rating  No_of_Ratings  No_of_Reviews  Annual_Power_Usage (Units)
count  661.000000     661.000000     661.000000                  661.000000
mean     4.091225   12239.211800    1266.155825                  918.716793
std      0.262474   16544.314793    1648.658806                  379.500450
min      1.300000       3.000000       0.000000                    0.000000
25%      4.000000    1016.000000     107.000000                  749.480000
50%      4.100000    4687.000000     530.000000                  859.340000
75%      4.200000   18384.000000    1776.000000                 1024.340000
max      5.000000   74455.000000    6572.000000                 5800.000000

In [19]:
df['Brand'].unique()

array(['Voltas', 'Samsung', 'Godrej', 'Daikin', 'IFB', 'MarQ', 'Blue',
       'LG', 'Lloyd', 'realme', 'Panasonic', 'Oakter', 'Haier', 'ONIDA',
       'Midea', 'CARRIER', 'Acer', 'Mitsubishi', 'TCL', 'MOTOROLA',
       'Sharp', 'Hitachi', 'Whirlpool', 'Sansui', 'O', 'InnoQ', 'Thomson',
       'Kelvinator', 'MITASHI', 'Admiral', 'BPL', 'Acerpure', 'BLACK',
       'Frigidaire', 'Equator', 'Hisense', 'TOSHIBA'], dtype=object)